
//Blue
$corn-blue: #316DCA;
$light-corn-blue: #3D89FF;
$light-blue: #A1C0EF;
$super-light-blue: #CDD9E5;

//grey
$light-grey: #373E47;
$dark-grey: #2D333B;
$super-dark-grey: #22272E;
$super-dark-grey-hover: #2D333B;

//orange
$orange: #EC775C;

//Green
$green: #329171;
$light-green: #4CDDAC;
