
/*----------------------------------------------------------------
COLOR CODE
-----------------------------------------------------------------*/
$white:         #E8E8E8;
$black:         black;
$grey:          grey;

//Blue
$blue:           #2E8BC0;
$midnight-blue:  #37474F;
$dark-blue :     #0C2D48;
$very-dark-blue: #071330;
$very-dark-blue-opacity: #3F545E;

$dark-red: #B20000;

$primary: rgb(0, 132, 255);
$error: red;
