@mixin gitFormControl {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 14px;
  color: #ADBAC7;
  vertical-align: middle;
  background-color: #22272E;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #444C56;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 0 transparent;
}