.circle {
  border-radius: 50% !important;
}

.git-box {
  background-color: #22272E;
  border-color: #444C56;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}

.git-box-row {
  //border-top-color: #373E47;
  border-top-style: solid;
  border-top-width: 1px;
}