@mixin SelectMenu-modal-animation {
  animation-duration: 0.12s;
  animation-timing-function: cubic-bezier(0, 0.1, 0.1, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
  animation-play-state: running;
  //animation-name: SelectMenu-modal-animation;
}
